* {
    box-sizing: border-box;
}

.holder {
    display: flex;
    max-width: 1000px;
    flex-wrap: wrap;
    text-align: center;
    font-size: 15;
}

.item:first-child {
    order: 0;
    background-color: rgb(223, 89, 56);
    flex-basis: 50%;
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-radius: 30px 0 0 0;
}

.item:last-child {
    order: 1;
    background-color: rgb(247, 195, 54);
    flex-basis: 50%;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-radius: 0 30px 0 0;
}

.item:nth-child(3) {
    order: 2;
    background-color: rgb(79, 27, 128);
    flex-basis:33.33% ;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}

.item:nth-child(2) {
    order: 3;
    background-color: rgb(57, 101, 184);
    flex-basis: 33.33%;
    border-bottom: 2px solid black;
}

.item:nth-child(4) {
    order: 4;
    background-color: rgb(0, 85, 0);
    flex-basis: 33.33%;
    border-bottom: 2px solid black;
    border-right: 2px solid black ;
}